/* FONTS */

@font-face{
    font-family: "Lobster";
    src: url("/media/font/Lobster-Regular.ttf")
}

@font-face{
    font-family: "Pacifico";
    src: url("/media/font/Pacifico-Regular.ttf")
}

@keyframes press{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes start-s{
    from{
        display: flex;
        opacity: 1;
    }
    to{
        display: none;
        opacity: 0;
    }
}

html {
    font-family: "opensans";
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
} 

body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, .warning{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #7fffd4;
    text-shadow: black 1px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

header h1{
    font-family: "Lobster";
    color: #4ac099;
    font-size: min(20vw, 20vh);
}

header h2{
    font-family: "Pacifico";
    font-size: min(10vw, 10vh);
}

header h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: min(10vw, 10vh);
}

.press{
    animation-name: press;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.next{
    animation-name: start-s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

header h4{
    font-family: "Lobster";
    font-size: min(16vw, 16vh);
}

.warning .boton h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: min(10vw, 10vh);
}

main{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


@media screen and (min-width: 100vh) {
    .warning{
        display: none;
    }
}